# Pandas股票数据分析

## 加载需要的库

In [14]:
import os
import numpy as np
import pandas as pd

## 读取某一支股票的book数据
该数据的存储格式为parquet，用pandas下的read_parquet函数进行去读取。
可能会报错：
```
Unable to find a usable engine; tried using: 'pyarrow', 'fastparquet'.
```
提示read_parquet函数缺少对应的引擎，通过conda install缺少的包修复这一问题。
```
conda install -c conda-forge pyarrow
conda install -c conda-forge fastparquet
```

In [15]:
# 指定要读取的文件的路径
root_dir = '../data'
dataDir = os.path.join(root_dir, 'book_train.parquet/stock_id=0/c439ef22282f412ba39e9137a3fdabac.parquet')
# 通过pandas读取文件
df_stockBook =  pd.read_parquet(dataDir)
# 展示该表格数据的前10行
df_stockBook.head(10)

,time_id,seconds_in_bucket,bid_price1,ask_price1,bid_price2,ask_price2,bid_size1,ask_size1,bid_size2,ask_size2
0,5,0,1.001422,1.002301,1.00137,1.002353,3,226,2,100
1,5,1,1.001422,1.002301,1.00137,1.002353,3,100,2,100
2,5,5,1.001422,1.002301,1.00137,1.002405,3,100,2,100
3,5,6,1.001422,1.002301,1.00137,1.002405,3,126,2,100
4,5,7,1.001422,1.002301,1.00137,1.002405,3,126,2,100
5,5,11,1.001422,1.002301,1.00137,1.002405,3,100,2,100
6,5,12,1.001422,1.002301,1.00137,1.002405,3,126,2,100
7,5,14,1.001422,1.002301,1.00137,1.002405,3,126,2,100
8,5,15,1.001422,1.002301,1.00137,1.002405,3,126,2,100
9,5,16,1.001422,1.002301,1.00137,1.002405,3,126,2,100

## 读取一支股票的波动率数据
+ stock_id: 股票的id
+ time_id： 某个时间段的id，做过脱敏处理
+ target： 该股票在对应时间段的波动率

In [16]:
df_train = pd.read_csv(os.path.join(root_dir, 'train.csv'))
display(df_train.head(10))

   stock_id  time_id    target
0         0        5  0.004136
1         0       11  0.001445
2         0       16  0.002168
3         0       31  0.002195
4         0       62  0.001747
5         0       72  0.004912
6         0       97  0.009388
7         0      103  0.004120
8         0      109  0.002182
9         0      123  0.002669